# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.tar.gz
*.zip
pip-wheel-metadata/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
test-results/

# Translations
*.mo
*.pot

# Django stuff
*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal

# If using a database other than SQLite
#*.db
*.db-journal

# Static files
staticfiles/
static/

# Media files
media/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Environments
.env
.env.*

# VS Code
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# pyre
.pyre/
